@page
@model EcoEnergyRazorPages.Pages.WaterConsumptionModel
@{
	ViewData["Title"] = "Consum d'aigua";
	List<string> header = ["Any", "Codi Comarca", "Comarca", "Població", "Domèstic xarxa", "Activitats econòmiques i fonts pròpies", "Total", "Consum domèstic per càpita"];
}

<div>
	<div class="text-center"><h1 class="display-4">Consum d'aigua</h1></div>
	<p>@Model.MsgFileError</p>
	<a class="btn btn-primary" asp-page="/AddWaterConsumption">Afegir Consum d'Aigua</a>
	@if (Model.WaterConsumptions.Any())
	{
		<table class="table">
			<thead>
				<tr>
					@foreach (string title in header)
					{
						<td>@title</td>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var water in Model.WaterConsumptions)
				{
					<tr>
						<td>@water.Year</td>
						<td>@water.CountyCode</td>
						<td>@water.County</td>
						<td>@water.Population</td>
						<td>@water.DomesticNetwork</td>
						<td>@water.EconomicActivitiesOwnSources</td>
						<td>@water.Total</td>
						<td>@water.HouseholdConsumptionPerCapita</td>
					</tr>
				}
			</tbody>
		</table>
		<p>Quantitat de registres: @Model.WaterConsumptions.Count()</p>
		<h3>Estadísitiques</h3>
		<h4>Municipis amb més consum d'aigua en l'any més recent</h4>
		<table class="table">
			<thead>
				<tr>
					@foreach (string title in header)
					{
						<td>@title</td>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var water in Model.MunicipalitiesWithMoreWater)
				{
					<tr>
						<td>@water.Year</td>
						<td>@water.CountyCode</td>
						<td>@water.County</td>
						<td>@water.Population</td>
						<td>@water.DomesticNetwork</td>
						<td>@water.EconomicActivitiesOwnSources</td>
						<td>@water.Total</td>
						<td>@water.HouseholdConsumptionPerCapita</td>
					</tr>
				}
			</tbody>
		</table>
		<p>Quantitat de registres: @Model.MunicipalitiesWithMoreWater.Count()</p>
		@*<h4>Municipis amb consum d'aigua sospitosos</h4>
		<table class="table">
			<thead>
				<tr>
					@foreach (string title in header)
					{
						<td>@title</td>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var water in Model.SusWaterConsumption)
				{
					<tr>
						<td>@water.Year</td>
						<td>@water.CountyCode</td>
						<td>@water.County</td>
						<td>@water.Population</td>
						<td>@water.DomesticNetwork</td>
						<td>@water.EconomicActivitiesOwnSources</td>
						<td>@water.Total</td>
						<td>@water.HouseholdConsumptionPerCapita</td>
					</tr>
				}
			</tbody>
		</table>
		<p>Quantitat de registres: @Model.SusWaterConsumption.Count()</p>*@
	}
	else
	{
		<h3>No hi ha registres</h3>
	}
</div>
